@page "/db/customers"
@using BakeryManagementPOSWebApp.Components.Database.Pages.Customer
@attribute [Authorize]

<PageTitle>Customers</PageTitle>
<title>Customers</title>
<h2>Customers</h2>

@inject IDbContextFactory<ApplicationDbContext> DbFactory

@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]

<CustomerModal @ref="customerTrashModal"
			ModalType="ModalViewType.Trash"
			OnSubmit="() => customerList.RefreshData(false)" />

<CustomerModal @ref="customerInfoModal"
			   ModalType="ModalViewType.Get" />

<CustomerModal @ref="customerEditModal"
			   ModalType="ModalViewType.Update"
			   OnSubmit="() => customerList.RefreshData(false)" />

<CustomerModal @ref="customerCreateModal"
			   ModalType="ModalViewType.Create"
			   OnSubmit="() => customerList.RefreshData(false)" />

<AuthorizeView Roles="Manager, Admin">
	<Button @onclick="ShowCreateModal" Color="ButtonColor.Primary" Size="ButtonSize.Large" class="mb-2">Add Customer</Button>
	<Button To="db/customers/trash" Color="ButtonColor.Dark" Type="ButtonType.Link" Size="ButtonSize.Large" class="mb-2 float-end">View Trash</Button>
</AuthorizeView>

<CustomerList @ref="customerList"
			  OnEditModal="(customer) => ShowEditModal(customer)"
			  OnRemoveModal="(customer) => ShowRemoveModal(customer)"
			  OnInfoModal="(customer) => ShowInfoModal(customer)" />


@code {
	private ApplicationDbContext? Context { get; set; }

	private CustomerList customerList { get; set; } = default!;

	private CustomerModal customerInfoModal { get; set; } = default!;
	private CustomerModal customerEditModal { get; set; } = default!;
	private CustomerModal customerCreateModal { get; set; } = default!;
	private CustomerModal customerTrashModal { get; set; } = default!;

	private Data.Enities.Customer customer { get; set; } = new();

	[Authorize(Roles = "Manager, Admin")]
	private async Task ShowRemoveModal(Data.Enities.Customer item)
	{
		await customerTrashModal.Show(item);
	}

	[Authorize(Roles = "Manager, Admin")]
	private async Task ShowEditModal(Data.Enities.Customer item)
	{
		await customerEditModal.Show(item);
	}

	[Authorize(Roles = "Manager, Admin")]
	private async Task ShowCreateModal()
	{
		await customerCreateModal.Show();
	}

	private async Task ShowInfoModal(Data.Enities.Customer item)
	{
		await customerInfoModal.Show(item);
	}
}
