@page "/db/products"

<PageTitle>Products</PageTitle>
<title>Products</title>
<h2>Products</h2>

@* @inject IProductService ProductService *@
@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]

@code {

}
