@page "/db/products"
@using BakeryManagementPOSWebApp.Components.Database.Pages.Product
@attribute [Authorize]

<PageTitle>Products</PageTitle>
<title>Products</title>
<h2>Products</h2>


@inject NavigationManager NavigationManager
@inject ProductService Service

@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]

<TrashModal @ref="trashModal"
	ObjectName="@product.Name"
			SubmitMethod="SubmitRemoval" />

<ProductModal @ref="productInfoModal"
			  ModalType="ModalViewType.Get"
			  SentProduct="product" />

<ProductModal @ref="productEditModal"
			ModalType="ModalViewType.Update"
			SentProduct="product"
			OnSubmit="() => productList.RefreshData(false)" />

<ProductModal @ref="productCreateModal"
			  ModalType="ModalViewType.Create"
			  OnSubmit="() => productList.RefreshData(false)" />

<AuthorizeView Roles="Manager, Admin">
	<Button @onclick="ShowAddModal" Color="ButtonColor.Primary" Size="ButtonSize.Large" class="mb-2">Add Product</Button>
	<Button To="db/products/trash" Color="ButtonColor.Dark" Type="ButtonType.Link" Size="ButtonSize.Large" class="mb-2 float-end">View Trash</Button>
</AuthorizeView>

<List @ref="productList"
	OnEditModal="(product) => ShowEditModal(product)"
	OnRemoveModal="(product) => ShowRemoveModal(product)"
	OnInfoModal="(product) => ShowInfoModal(product)"/>


@code {
	private ApplicationDbContext? Context { get; set; }

	private TrashModal trashModal { get; set; } = default!;

	private List productList { get; set; } = default!;

	private ProductModal productInfoModal { get; set; } = default!;
	private ProductModal productEditModal { get; set; } = default!;
	private ProductModal productCreateModal { get; set; } = default!;

	private Data.Enities.Product product { get; set; } = new();

	[Authorize(Roles = "Manager,Admin")]
	private async Task ShowRemoveModal(Data.Enities.Product item)
	{
		product = item;
		await trashModal.Show();
	}

	[Authorize(Roles = "Manager,Admin")]
	private async Task SubmitRemoval()
	{
		await Service.SoftDeleteProduct(product);
	}

	[Authorize(Roles = "Manager,Admin")]
	private async Task ShowAddModal()
	{
		await productCreateModal.Show();
	}

	[Authorize(Roles = "Manager,Admin")]
	private async Task ShowEditModal(Data.Enities.Product item)
	{
		product = item;
		await productEditModal.Show(item);
	}

	private async Task ShowInfoModal(Data.Enities.Product item)
	{
		product = item;
		await productInfoModal.Show(item);
	}
}
