@page "/db/customers/trash"
@using BakeryManagementPOSWebApp.Components.Database.Pages.Customer
@attribute [Authorize(Roles = "Admin,Manager")]

<PageTitle>Customer Trash</PageTitle>
<title>Customer Trash</title>
<h2>Customer Trash</h2>

@inject NavigationManager NavigationManager
@inject CustomerService Service
@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]

<TrashModal @ref="deleteModal"
	ObjectName="@customer.FullName"
			SubmitMethod="SubmitRemoval"
			Text="This item will be deleted permanently!"
			Type="delete"/>

<TrashModal @ref="restoreModal"
	ObjectName="@customer.FullName"
			SubmitMethod="SubmitRestore"
			Text="This item will be restored and moved out of trash."
			Type="restore"/>

<CustomerModal @ref="customerModal"
			  ModalType="ModalViewType.Get"/>

<Button To="db/customers" Color="ButtonColor.Dark" Type="ButtonType.Link" Size="ButtonSize.Large" class="mb-2">Back to Customers</Button>

@if (customers is null)
{
	<UserMessage Color="AlertColor.Secondary" Type="MessageType.Loading" />
}
else 
{
	<CustomerList @ref="customerList"
		ShowTrashed=true
		  OnDeleteModal="(customer) => ShowRemoveModal(customer)"
		  OnRestoreModal="(customer) => ShowRestoreModal(customer)"
		  OnInfoModal="(customer) => ShowInfoModal(customer)" />
}


@code {
	private TrashModal deleteModal { get; set; } = default!;
	private TrashModal restoreModal { get; set; } = default!;

	private CustomerList customerList { get; set; } = default!;

	private CustomerModal customerModal { get; set; } = default!;
	private string ModalTitle { get; set; } = string.Empty;

	private EditContext editContext { get; set; } = default!;
	private Data.Enities.Customer customer { get; set; } = new();

	private List<Data.Enities.Customer>? customers { get; set; } = new();
	private Button RefreshButton { get; set; } = default!;

	private Button submitButton { get; set; } = default!;

	public async Task LoadData()
	{
		await customerList.RefreshData(true);
	}

	[Authorize(Roles = "Manager,Admin")]
	private async Task ShowRemoveModal(Data.Enities.Customer item)
	{
		customer = item;
		await deleteModal.Show();
	}

	[Authorize(Roles = "Manager,Admin")]
	private async Task SubmitRemoval()
	{
		await Service.HardDeleteCustomer(customer);
		await LoadData();
	}

	[Authorize(Roles = "Manager,Admin")]
	private async Task ShowRestoreModal(Data.Enities.Customer item)
	{
		customer = item;
		await restoreModal.Show();
	}

	[Authorize(Roles = "Manager,Admin")]
	private async Task SubmitRestore()
	{
		await Service.RecoverCustomer(customer);
		await LoadData();
	}

	private async Task ShowInfoModal(Data.Enities.Customer item)
	{
		await customerModal.Show(item);
	}

	private async Task HideModal()
	{
		await customerModal.Hide();
	}
}
