@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject ProductService ProductService

@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]

<Toasts class="p-3" Messages="ToastMessages" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight" />

@if (products is null)
{
	<UserMessage Color="AlertColor.Secondary" Type="MessageType.Loading" />
}
else 
{
	<Grid TItem="Product"
		  Class="table table-hover table-striped table-sm"
		  DataProvider="ProductsDataProvider"
		  AllowFiltering="true"
		  Responsive="true"
		  AllowRowClick="true"
		  OnRowDoubleClick="(args) => OnInfoModal.InvokeAsync(args.Item)"
		  FiltersRowCssClass="bg-secondary bg-opacity-25 border-bottom-0"
		  HeaderRowCssClass="">

		<GridColumns>
			<GridColumn TItem="Product" HeaderText="Name" PropertyName="Name" FilterTextboxWidth="100">
				<Button Class="border-0" @onclick="() => OnInfoModal.InvokeAsync(context)" Outline=true Size=ButtonSize.Small Color="ButtonColor.Primary" TooltipTitle="Info"><i class="bi bi-info-circle-fill"></i></Button>
				@context.Name
			</GridColumn>
			<GridColumn TItem="Product" HeaderText="Price" PropertyName="Price" FilterOperator="FilterOperator.GreaterThanOrEquals" FilterTextboxWidth="100">
				@context.Price.ToString("C2")
			</GridColumn>
			<GridColumn TItem="Product" HeaderText="Description" PropertyName="Description" Filterable="false">
				@context.Description
			</GridColumn>
			<GridColumn TItem="Product" HeaderText="Available" PropertyName="IsAvailable" Class="text-center">
				@if (context.IsAvailable)
				{
					<strong class="text-success"><i class="bi bi-check-lg"></i> Yes</strong>
				}
				else
				{
					<strong class="text-danger"><i class="bi bi-x-lg"></i> No</strong>
				}
			</GridColumn>
			<GridColumn TItem="Product" HeaderText="" Filterable=false Class="text-center">
				<HeaderContent>
					<Button @onclick="() => RefreshData(true)" Color="ButtonColor.Info" Outline="true">
						<Icon Name="IconName.ArrowClockwise" class="me-1"></Icon>
						Refresh
					</Button>
				</HeaderContent>
				<ChildContent>
					@if(ShowTrashed)
					{
						<AuthorizeView Roles="Manager, Admin" Context="auth">
							<Button @onclick="() => OnRestoreModal.InvokeAsync(context)" Color="ButtonColor.Success" TooltipTitle="Restore"><i class="bi bi-arrow-counterclockwise"></i></Button>
						</AuthorizeView>
						<AuthorizeView Roles="Admin" Context="auth">
							<Button @onclick="() => OnDeleteModal.InvokeAsync(context)" Color="ButtonColor.Danger" TooltipTitle="Delete"><i class="bi bi-file-earmark-x"></i></Button>
						</AuthorizeView>
					}
					else
					{
						<AuthorizeView Roles="Manager, Admin" Context="auth">
							<Button @onclick="() => OnEditModal.InvokeAsync(context)" Color="ButtonColor.Info" TooltipTitle="Edit"><i class="bi bi-pencil-square"></i></Button>
							<Button @onclick="() => OnRemoveModal.InvokeAsync(context)" Color="ButtonColor.Danger" TooltipTitle="Trash"><i class="bi bi-trash"></i></Button>
						</AuthorizeView>
					}
				</ChildContent>
			</GridColumn>
		</GridColumns>

	</Grid>
}

@code {
	[Parameter]
	public EventCallback<Product> OnEditModal { get; set; }

	[Parameter]
	public EventCallback<Product> OnRemoveModal { get; set; }

	[Parameter]
	public EventCallback<Product> OnInfoModal { get; set; }

	[Parameter]
	public EventCallback<Product> OnDeleteModal { get; set; }

	[Parameter]
	public EventCallback<Product> OnRestoreModal { get; set; }

	[Parameter]
	public bool ShowTrashed { get; set; } = false;

	private ApplicationDbContext Context = default!;

	private List<Product>? products { get; set; } = null;

	private List<ToastMessage> ToastMessages = new();

	private async Task<GridDataProviderResult<Product>> ProductsDataProvider(GridDataProviderRequest<Product> request)
	{
		if (products is null)
			await LoadData();

		return await Task.FromResult(request.ApplyTo(products!));
	}

	protected override async Task OnInitializedAsync()
	{
		await LoadData();
	}

	private async Task LoadData()
	{
		Context = DbFactory.CreateDbContext();
		if (ShowTrashed)
		{
			products = await Context.Products.Where(p => p.Deleted != null).ToListAsync();
		}
		else
		{
			products = await Context.Products.Where(p => p.Deleted == null).ToListAsync();
		}
		Context.Dispose();
	}

	public async Task RefreshData(bool showToast)
	{
		products = null;
		await LoadData();

		if (showToast)
			ToastMessages.Add(new()
				{
					Type = ToastType.Info,
					IconName = IconName.ArrowClockwise,
					Content =@<div class="text-white">
							<Icon Name="IconName.ArrowClockwise" class="me-2"></Icon>
							Products Refreshed!
						   </div>
				}
			);
	}
}
